<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexcliente.xhtml">


    <ui:composition template="indexcliente.xhtml">
        <ui:define name="title">
            ACCESOS  A LA CUENTA
        </ui:define>

        <ui:define name="usuario">
            #{managerAccount.cliente.nombre}  #{managerAccount.cliente.apellido}
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card">
                            <h1>CORRECTOS</h1>
                            <p:dataTable var="acceso" value="#{clientePaginaBean.accesosCorrectos}" >
                                <f:facet name="header">DETALLES</f:facet>
                                <p:column headerText="ID">
                                    #{clientePaginaBean.filas3()}
                                </p:column>

                                <p:column headerText="FECHA">
                                    #{acceso.fecha}
                                </p:column>

                                <p:column headerText="HORA">
                                    #{acceso.hora}
                                </p:column>

                                <p:column headerText="DESCRIPCION">
                                    #{acceso.decripcion}
                                </p:column>
                            </p:dataTable>   
                        </div>
                    </div>
                </div>
            </h:form>

        </ui:define>

        <!--<ui:define name="content" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">DETALLES</h3>
                            </div>
                            
                            
                            <div class="card-body">
                                <h:form>
                                    <h:dataTable class="table table-bordered table-hover" id="table" value="#{clientePaginaBean.accesosCorrectos}" var="acceso" >   
                                         <h:column>
                                            <f:facet name="header">#</f:facet>
        #{clientePaginaBean.filas3()}
</h:column>
<h:column>
    <f:facet name="header">FECHA</f:facet>
        #{acceso.fecha}
</h:column>     
<h:column>
    <f:facet name="header">HORA</f:facet>
        #{acceso.hora}
</h:column> 
<h:column>
    <f:facet name="header">DESCRIPCION</f:facet>
        #{acceso.decripcion}
</h:column> 

</h:dataTable>  

</h:form>

</div>

</div>

</div>
</div>
</div>
</ui:define>-->

    </ui:composition>

</html>


