<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">

    <h:head>
        <f:metadata>
            <f:viewParam name="numerodeCuenta" value="#{cuentaAhorroBean.numeroCuenta}"></f:viewParam>
        </f:metadata>
    </h:head>
    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            ACTUALIZACION DE CUENTA DE AHORRO
        </ui:define>
        
         <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">
                                <h1>DATOS DE LA CUENTA</h1>
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cuenta" value="cuenta"/>
                                    <p:inputText value="#{cuentaAhorroBean.numeroCuenta}" id="cuenta" style="margin-bottom:15px;" readonly="true"/>
                                    
                                    <p:outputLabel for="cedula" value="Cedula"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.cedula}" id="cedula" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="nombres" value="Nombres"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.nombre}" id="nombres" style="margin-bottom:15px;" readonly="true"/>                                   

                                    <p:outputLabel for="apellidos" value="Apellidos"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.apellido}" id="apellidos" style="margin-bottom:15px;" readonly="true"/>                                                           

                                    <p:outputLabel for="direccion" value="Direccion"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.direccion}" id="direccion" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="telefono" value="Telefono"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.telefono}" id="telefono" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="operadora" value="Operadora"/>
                                    <p:inputText value=" #{cuentaAhorroBean.newCuentaAhorro.cliente.operadora}" id="operadora" style="margin-bottom:15px;" readonly="true"/>                                                                   

                                    <p:outputLabel for="correo" value="Correo"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.correo}" id="correo" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="usuario" value="Usuario"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.usuario}" id="usuario" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="contrasena" value="Contraseña"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.cliente.contrasena}" id="contrasena" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="saldo" value="Saldo"/>
                                    <p:inputText value="#{cuentaAhorroBean.newCuentaAhorro.saldo}" id="saldo" style="margin-bottom:15px;"/>
                                </p:panelGrid>

                            </div>

                            <div class="card">
                                <p:panelGrid>
                                    <p:commandButton action="#{cuentaAhorroBean.actualizarCuentaAhorro()}" id="guardar" value="Guardar" styleClass="navy-button" style="max-width:150px;"/>&nbsp;
                                    <p:commandButton action="listadoClientes" id="cancelar" value="Cancelar" styleClass="navy-button" type="button" style="max-width:150px;"/>
                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

        </ui:define>
        
    </ui:composition>
</html>

