<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexcajero.xhtml"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <h:head>
        <title>Ventanilla</title>
    </h:head>

    <ui:composition template="indexcajero.xhtml">
        <ui:define name="title">
            DEPOSITOS CUPS
        </ui:define>


        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form  id="formulario">
                <script type="text/javascript">
                    function limpiarForm()
                    {
                        document.getElementById("formulario").reset();
                    }
                </script>
                <p:growl id="growl" showDetail="true" sticky="true" />
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">

                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cedulaingresada" value="# DE CUENTA DEL SOCIO/A A BUSCAR "/>
                                    <p:inputText required="true" id="cedulaingresada" style="margin-bottom:15px;" value="#{transaccionBean.cedulaIngresada}" >  
                                        <f:ajax render="cedula" execute="auxField" listener="#{transaccionBean.buscarCliente()}"/> 
                                        <f:ajax render="apellidos" execute="auxField" listener="#{transaccionBean.buscarCliente()}"/> 
                                        <f:ajax render="nombres" execute="auxField" listener="#{transaccionBean.buscarCliente()}"/> 
                                        <f:ajax render="numerocuenta" execute="auxField" listener="#{transaccionBean.buscarCliente()}"/> 
                                        <f:ajax render="saldo" execute="auxField" listener="#{transaccionBean.buscarCliente()}"/> 
                                    </p:inputText>

                                </p:panelGrid>

                            </div>
                            <div class="card">
                                <h1>INFORMACION DE LA CUENTA</h1>
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cedula" value="CEDULA"/>
                                    <p:inputText id="cedula" style="margin-bottom:15px;"   value="#{transaccionBean.cedula}"  readonly="true"/>

                                    <p:outputLabel for="apellidos" value="APELLIDOS"/>
                                    <p:inputText id="apellidos" style="margin-bottom:15px;"   value="#{transaccionBean.apellido}" readonly="true" />

                                    <p:outputLabel for="nombres" value="NOMBRES"/>
                                    <p:inputText id="nombres" style="margin-bottom:15px;" value="#{transaccionBean.nombre}" readonly="true" />

                                    <p:outputLabel for="numerocuenta" value="NUMERO DE CUENTA"/>
                                    <p:inputText id="numerocuenta" style="margin-bottom:15px;" value="#{transaccionBean.numeroCuenta}" readonly="true" />

                                    <p:outputLabel for="saldo" value="SALDO"/>
                                    <p:inputText id="saldo" style="margin-bottom:15px;font-size:50px;height:100px;width:300px"  value="#{transaccionBean.saldo}" readonly="true" />

                                    <p:outputLabel for="cantidad" value="INGRESE LA CANTIDAD "/>
                                    <p:inputText required="true"  a:placeholder="$" id="cantidad" style="background-color:#640404;color: white;font-size:50px;margin-bottom:15px;height:100px;width:300px"   value="#{transaccionBean.cantDinero}" />

                                </p:panelGrid>
                            </div>
                            <div class="card" >

                                <p:panelGrid>
                                    <p:commandButton oncomplete="limpiarForm()" update="growl" id="guardar" action="#{transaccionBean.saveTransactionDeposit()}" value="DEPOSITAR" styleClass="navy-button" style="font-size:40px;height:100px;width:300px">
                                        <p:confirm header="DEPOSITOS" message="Desea confirmar su transacción?" icon="pi pi-exclamation-triangle" />
                                        
                                    </p:commandButton>

                                    &nbsp;
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode" closable="false">
                                        <p:commandButton  value="Si" type="button" styleClass="ui-confirmdialog-yes red-button" icon="pi pi-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no navy-button" icon="pi pi-times" />
                                    </p:confirmDialog> 


                                    <p:commandButton  id="cancelar" action="cajero_inicio" value="CANCELAR" styleClass="navy-button"  style="font-size:40px;height:100px;width:300px" />

                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

        </ui:define>


    </ui:composition>
</html>
