<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
     
    
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="sign"/>
        <link rel="stylesheet" href="../css/style.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" media="all"/>
        <link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet"/>
    </h:head>

    <h:body>

        <div class="colorUno">
            <div class="bottom-grid">

            </div>
        </div>
        <div class="colorDos">
            <div class="bottom-grid">
                <div class="logo">
                    <h1> <a href="customerLogin.xhtml"><span class="fa fa-money"></span>CUPS Virtual</a></h1>
                </div>
                <div class="links">
                    
                    <div class="logo">
                        <h1> <a href="customerLogin.xhtml"><span></span>SISTEMA TRANSACCIONAL </a></h1>
                    </div>
                    
                    <ul class="links-unordered-list">
                        <li class="active">
                            <a href="customerLogin.xhtml" class="">Clientes</a>
                        </li>
                        <li >
                            <a href="administratorLogin.xhtml" class="">Administradores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
            <section class="main">
                <div class="layer">
                    <div class="content-w3ls">
                        <div class="text-center icon">
                            <img src="../images/logo.png" alt="" width="551" height="140"/>
                        </div>

                        <div class="titulo">
                            <h1>ACCESO A SOCIOS/SOCIAS</h1>
                             
                            <p> Si usted ya se registró ingrese su usuario y contraseña</p>
                        </div>

                        &#160;

                        <div class="content-bottom">
                            <h:form >
                                
                                 <p:messages showDetail="true"  />
                                <div class="field-group">
                                    <span class="fa fa-user" aria-hidden="true"></span>
                                    <div class="wthree-field">
                                        <h:inputText id="texUsuario" value="#{loginClienteBean.cliente.usuario}" a:placeholder="Usuario" required="true" requiredMessage="Ingrese su usuario" /> 
                                    </div>
                                </div>
                                <div class="field-group">
                                    <span class="fa fa-lock" aria-hidden="true"></span>
                                    <div class="wthree-field">
                                        <h:inputSecret id="txtContrasena" value="#{loginClienteBean.cliente.contrasena}" a:placeholder="Contraseña" required="true" requiredMessage="Ingrese su contraseña" /> 
                                             
                                    </div>
                                </div>
                                
                                  
                                <div class="wthree-field">                   
                                    <h:commandButton class="btn" action="#{loginClienteBean.login()}" value="INGRESAR" />
                                </div>
                                
                                <ul class="list-login-bottom">
                                    <li class="">
                                        <a href="#" class="">Olvidé mi Usuario</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-right">Olvidé mi Contraseña</a>
                                    </li>

                                </ul>
                                
                            </h:form>
                        </div>
                    
                     
                    </div>
                </div>
               
            </section>
        
        <footer>
            <div class="bottom-grid1">
                <div class="links">
                    <ul class="links-unordered-list">
                        <li class="">
                            <a href="#" class="">Direccion: Calle Turuhuayco 3-69 y Calle Vieja</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Call Center: +593 458125785</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Escríbanos a: cupsvirtual@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>© 2020 Cups Todos los derechos reservados</p>
                </div>
            </div>
        </footer>
    </h:body>

</html>

