<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" template="/WEB-INF/indexadmin.xhtml">

    <h:head>
        <f:metadata>
            <f:viewParam name="idDetalle"
                         value="#{solicitarCreditoBean.idDetalle}"></f:viewParam>
        </f:metadata>
    </h:head>
    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            DETALLE DE SOLICITUD DE CRÉDITO
        </ui:define>

        <ui:define name="rol">
            JEFE DE CREDITO
        </ui:define>


        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="card">
                                <h1>DATOS PERSONALES DEL SOLICITANTE</h1>
                                <p:panelGrid columns="4"
                                             columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                             layout="grid" styleClass="ui-panelgrid-blank"
                                             style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cedula" value="Cedula" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.cedula}"
                                        id="cedula" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="direccion" value="Direccion" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.direccion}"
                                        id="direccion" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="nombres" value="Nombres" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.nombre}"
                                        id="nombres" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="telefono" value="Telefono" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.telefono}"
                                        id="telefono" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="apellidos" value="Apellidos" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.apellido}"
                                        id="apellidos" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="operadora" value="Operadora" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.operadora}"
                                        id="operadora" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="fechanaci" value="Fecha de nacimiento" />
                                    <p:calendar
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.fechaNacimiento}"
                                        id="fechanaci" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="correo" value="Correo" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cliente.correo}"
                                        id="correo" readonly="true" style="margin-bottom:15px;" />
                                </p:panelGrid>
                            </div>

                            <div class="card">
                                <h1>DATOS DE LA SOLICITUD DE CREDITO</h1>
                                <p:panelGrid columns="4"
                                             columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                             layout="grid" styleClass="ui-panelgrid-blank"
                                             style="border:0px none; background-color:transparent;">

                                    <p:outputLabel for="creditosExistentes"
                                                   value="Creditos Existentes" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.cantidadCreditosExistentes}"
                                        id="creditosExistentes" readonly="true"
                                        style="margin-bottom:15px;" />

                                    <p:outputLabel for="edad" value="Edad" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.edad}"
                                        id="edad" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="plazos" value="Plazos" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.plazosMesesCredito}"
                                        id="plazos" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="tazapago" value="Tasa de pago" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.tasaPago}"
                                        id="tazapago" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="avaluoVivienda" value="Avaluo Vivienda" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.avaluoVivienda}"
                                        id="avaluoVivienda" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="proposito" value="Proposito" />
                                    <p:inputText value="#{solicitarCreditoBean.propositoCredito}"
                                                 id="proposito" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="activo" value="Activos" />
                                    <p:inputText value="#{solicitarCreditoBean.activos}" id="activo"
                                                 readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="monto" value="Monto" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.montoCredito}"
                                        id="monto" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="vivienda" value="Vivienda" />
                                    <p:inputText value="#{solicitarCreditoBean.vivienda}"
                                                 id="vivienda" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="tiempoEmpleo" value="Tiempo de Empleo" />
                                    <p:inputText value="#{solicitarCreditoBean.tiempoEmpleo}"
                                                 id="tiempoEmpleo" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="tipoEmpleo" value="Tipo de Empleo" />
                                    <p:inputText value="#{solicitarCreditoBean.empleo}"
                                                 id="tipoEmpleo" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="garante" value="Garante" />
                                    <p:inputText value="#{solicitarCreditoBean.garante}"
                                                 id="garante" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="historialCredito"
                                                   value="Historial de crédito" />
                                    <p:inputText value="#{solicitarCreditoBean.historialCredito}"
                                                 id="historialCredito" readonly="true"
                                                 style="margin-bottom:15px;" />

                                    <p:outputLabel for="saldoCuenta" value="Saldo cuenta de ahorro" />
                                    <p:inputText value="#{solicitarCreditoBean.saldoCuentaAhorro}"
                                                 id="saldoCuenta" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel value="Trabajador Extrangero" />
                                    <p:inputText
                                        value="#{solicitarCreditoBean.newSolicitudCredito.trabajadorEstranjero}"
                                        id="trabajadorExtranjero" readonly="true"
                                        style="margin-bottom:15px;" />

                                    <p:outputLabel for="estadoCivil" value="Estado Civil" />
                                    <p:inputText value="#{solicitarCreditoBean.estadoCivilSexo}"
                                                 id="estadoCivil" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel for="tipocliente" value="Tipo de cliente" />
                                    <p:inputText value="#{solicitarCreditoBean.tipoCliente}"
                                                 id="tipocliente" readonly="true" style="margin-bottom:15px;" />

                                    <p:outputLabel value="Documento - Cedula" />
                                    <p:commandButton
                                        actionListener="#{solicitarCreditoBean.dowloadCedula(solicitarCreditoBean.newSolicitudCredito.nombreCedula)}"
                                        ajax="false" id="botonCedula" value="DESCARGAR "
                                        styleClass="navy-button" style="max-width:150px;  ">
                                        <p:fileDownload value="#{solicitarCreditoBean.file}" />
                                    </p:commandButton>

                                    <p:outputLabel value="Documento - Planilla" />
                                    <p:commandButton
                                        actionListener="#{solicitarCreditoBean.dowloadPlanilla(solicitarCreditoBean.newSolicitudCredito.nombrePlanilla)}"
                                        ajax="false" id="botonPlanilla" value="DESCARGAR "
                                        styleClass="navy-button" style="max-width:150px;  ">
                                        <p:fileDownload value="#{solicitarCreditoBean.file}" />
                                    </p:commandButton>

                                    <p:outputLabel value="Documento - Rol de pagos" />
                                    <p:commandButton
                                        actionListener="#{solicitarCreditoBean.dowloadRol(solicitarCreditoBean.newSolicitudCredito.nombreRol)}"
                                        ajax="false" id="botonRol" value="DESCARGAR "
                                        styleClass="navy-button" style="max-width:150px;  ">
                                        <p:fileDownload value="#{solicitarCreditoBean.file}" />
                                    </p:commandButton>
                                </p:panelGrid>

                                <div class="card">   
                                    <h4>DATOS DEL GARANTE</h4>
                                    <p:panelGrid columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">

                                        <p:outputLabel for="cedg" value="Cédula"/>
                                        <p:inputText value="#{solicitarCreditoBean.newSolicitudCredito.cedulapersonaGarante}" id="cedg" readonly="true" style="margin-bottom:15px;"/>

                                        <p:outputLabel for="nombres1" value="Nombres"/>
                                        <p:inputText value="#{solicitarCreditoBean.perGarante.nombre}" id="nombres1" readonly="true" style="margin-bottom:15px;"/>

                                        <p:outputLabel for="apellidos1" value="Apellidos"/>
                                        <p:inputText value="#{solicitarCreditoBean.perGarante.apellido}" id="apellidos1" readonly="true" style="margin-bottom:15px;"/>

                                        <p:outputLabel for="telefono1" value="Telefono"/>
                                        <p:inputText value="#{solicitarCreditoBean.perGarante.telefono}" id="telefono1" readonly="true" style="margin-bottom:15px;"/>

                                    </p:panelGrid>
                                </div> 
                            </div>

                            <div class="card">
                                <p:panelGrid>
                                    <p:commandButton  value="Aprobar"  onclick="PF('dlg2').show();" styleClass="navy-button"  style="max-width:150px;" />
                                    &nbsp;


                                    <p:commandButton action="#{solicitarCreditoBean.rechazarSolicitudCredito(solicitarCreditoBean.newSolicitudCredito.id)}" value="Rechazar" styleClass="red-button" style="max-width:150px;" >
                                        <p:confirm header="Confirmación" message="¿Esta seguro de rechazar la solicitud crédito?" icon="ui-icon-alert" />
                                    </p:commandButton>
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Si" styleClass="ui-confirmdialog-yes red-button" icon="ui-icon-check fa fa-check Fs14 White" />                                                                                  
                                        <p:commandButton value="No" styleClass="ui-confirmdialog-no navy-button" icon="ui-icon-close fa fa-close Fs14 White" />
                                    </p:confirmDialog>


                                    &nbsp;      
                                    <p:commandButton action="listadoSolicitudesAdmin?faces-redirect=true" id="cancelar" value="Cancelar" styleClass="navy-button" style="max-width:150px;" />
                                    &nbsp; 
                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

            <h:panelGroup id="f1" >
                <h:form id="f2">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:dialog header="CONFIRMACION " widgetVar="dlg2" modal="true" height="800" width="1600" responsive="true">
                                <h:outputText value="DATOS DEL CREDITO" />
                                <div class="card">
                                    <h1>DATOS PERSONALES DEL SOLICITANTE</h1>
                                    <p:panelGrid columns="4"
                                                 columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                                 layout="grid" styleClass="ui-panelgrid-blank"
                                                 style="border:0px none; background-color:transparent;">
                                        <p:outputLabel for="cedula" value="Cedula" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.cedula}"
                                            id="cedula" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="direccion" value="Direccion" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.direccion}"
                                            id="direccion" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="nombres" value="Nombres" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.nombre}"
                                            id="nombres" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="telefono" value="Telefono" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.telefono}"
                                            id="telefono" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="apellidos" value="Apellidos" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.apellido}"
                                            id="apellidos" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="operadora" value="Operadora" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.operadora}"
                                            id="operadora" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="fechanaci" value="Fecha de nacimiento" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.fechaNacimiento}"
                                            id="fechanaci" readonly="true" style="margin-bottom:15px;" />

                                        <p:outputLabel for="correo" value="Correo" />
                                        <p:inputText
                                            value="#{solicitarCreditoBean.newSolicitudCredito.cliente.correo}"
                                            id="correo" readonly="true" style="margin-bottom:15px;" />
                                    </p:panelGrid>




                                </div>




                                <h:panelGroup id="f3">
                                    <div class="card">
                                        <div class="ui-g">
                                            <div class="ui-g-12">
                                                <div class="card">
                                                    <h1>TABLA DE AMORTIZACION</h1>
                                                    <p:dataTable id="tableAmortizacion" var="amortizacion" value="#{solicitarCreditoBean.listaAmortizacions}">
                                                        <f:facet name="header">DETALLES</f:facet>
                                                        <p:column headerText="#CUOTAS" style="width: 50px">
                                                            #{amortizacion.nPeriodos}
                                                        </p:column>

                                                        <p:column headerText="SALDO INICIAL">
                                                            #{amortizacion.saldoInicial}
                                                        </p:column>

                                                        <p:column headerText="CUOTA FIJA">
                                                            #{amortizacion.cuotaFija}
                                                        </p:column>

                                                        <p:column headerText="INTERES">
                                                            #{amortizacion.interes}
                                                        </p:column>
                                                        <p:column headerText="ABONO A CAPITAL">
                                                            #{amortizacion.abonoCapital}
                                                        </p:column>
                                                        <p:column headerText="SALDO FINAL">
                                                            #{amortizacion.saldoFinal}
                                                        </p:column>	

                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <p:panelGrid>
                                            <p:commandButton  value="Confirmar" action="#{solicitarCreditoBean.crearCredito(solicitarCreditoBean.newSolicitudCredito.id)}" styleClass="navy-button"  style="max-width:150px;"   oncomplete="PF('dlg2').hide();" />
                                            &nbsp; 
                                            <p:commandButton id="cancelar" value="Cancelar" styleClass="navy-button" style="max-width:150px;" oncomplete="PF('dlg2').hide();"  />
                                            &nbsp; 

                                        </p:panelGrid>
                                    </div>

                                </h:panelGroup>


                            </p:dialog>
                        </div>
                    </div>
                </h:form>
            </h:panelGroup>       



        </ui:define>
    </ui:composition>
</html>

