<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">

    <ui:composition template="indexcliente.xhtml">
        <ui:define name="title">
            ESTADO DE CRÉDITO
        </ui:define>
        <ui:define name="usuario">
            #{managerAccount.cliente.nombre}  #{managerAccount.cliente.apellido}
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">
                                <h1>INFORMACIÓN DEL CRÉDITO</h1>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">

                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">

                                </p:panelGrid>

                                <p:panelGrid columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel  value="TIPO DE CRÉDITO"/>
                                    <p:inputText required="true" id="cantidad" readonly="true" style="background-color:whitesmoke;color: black;font-size:20px;margin-bottom:15px;height:50px;width:400px; text-align:center"    value="#{clientePaginaBean.tipoCredito}" />

                                    <p:outputLabel value="NÚMERO DE CRÉDITO"/>
                                    <p:inputText required="true" id="cantidad1" readonly="true" style="background-color:whitesmoke;color: black;font-size:20px;margin-bottom:15px;height:50px;width:150px; text-align:center; border-top:none "   value="#{clientePaginaBean.numeroCredito}" />
                                </p:panelGrid>
                            </div>


                            <div class="card">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <div class="card">
                                            <p:dataTable  id="table" value="#{clientePaginaBean.listadoAmortizaciones}"  var="amortizacion" >
                                                <f:facet name="header">TABLA DE AMORTIZACION</f:facet>
                                                <p:column headerText="# CUOTAS">
                                                    #{amortizacion.nPeriodos}
                                                </p:column>
                                                <p:column headerText="SALDO INICIAL">
                                                    #{amortizacion.saldoInicial}
                                                </p:column>
                                                <p:column headerText="CUOTA FIJA">
                                                    #{amortizacion.cuotaFija}
                                                </p:column>
                                                <p:column headerText="INTERES">
                                                    #{amortizacion.interes}
                                                </p:column>
                                                <p:column headerText="ABONO A CAPITAL">
                                                    #{amortizacion.abonoCapital}
                                                </p:column>
                                                <p:column headerText="SALDO FINAL">
                                                    #{amortizacion.saldoFinal}
                                                </p:column>
                                                <p:column headerText="ESTADO CUOTA">
                                                    #{amortizacion.estadoCuota}
                                                </p:column>
                                            </p:dataTable>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>






