<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">
    
    <ui:composition template="indexcliente.xhtml">
        <ui:define name="title">
            ESTADO DE CUENTA
        </ui:define>
        <ui:define name="usuario">
            #{managerAccount.cliente.nombre}  #{managerAccount.cliente.apellido}
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">
                                <h1>CONSULTAR</h1>
                                <p:panelGrid columns="8" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel  for="concepto" value="Tipo de movimiento"/>
                                    <p:selectOneMenu  value = "#{clientePaginaBean.concepto}" id="concepto" style="width: 250px"> 
                                        <f:selectItem itemValue = "N/A" itemLabel = "Seleccionar" /> 
                                        <f:selectItem itemValue = "DEPOSITO" itemLabel = "DEPOSITO" /> 
                                        <f:selectItem itemValue = "RETIRO" itemLabel = "RETIRO" />                                      
                                    </p:selectOneMenu> 
                                    <p:outputLabel for="fechadesde" value="Fechas desde:"/>
                                    <p:calendar value="#{clientePaginaBean.feInicio}" id="fechadesde" showOn="button" style="width: 250px" pattern="yyyy/MM/dd"/>
                                    
                                    <p:outputLabel for="fechahasta" value="Fecha hasta:"/>
                                    <p:calendar value="#{clientePaginaBean.feFinal}" id="fechahasta" showOn="button" style="width: 250px" pattern="yyyy/MM/dd"/>
                                </p:panelGrid>   
                            </div>
                            
                            <div class="card">
                                <p:panelGrid>
                                    <p:commandButton  action="#{clientePaginaBean.consultarTransacciones()}" styleClass="navy-button" value="Consultar" style="max-width:150px;" ajax="false">
                                        <f:ajax render="@all" execute="@all"/>
                                    </p:commandButton>
                                </p:panelGrid>
                            </div>
                            
                            <div class="card">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <div class="card">
                                            <h1>MOVIMIENTOS</h1>
                                            <p:dataTable  id="table" value="#{clientePaginaBean.listadoTransaccions}"  var="transaccion" >
                                                <f:facet name="header">LISTADO DE TRANSACCIONES</f:facet>
                                                <p:column headerText="CUENTA DE AHORROS">
                                                    #{transaccion.cuentaAhorro.numeroCuenta}
                                                </p:column>
                                                <p:column headerText="FECHA">
                                                    #{transaccion.fecha}
                                                </p:column>
                                                <p:column headerText="CONCEPTO">
                                                    #{transaccion.tipo}
                                                </p:column>
                                                <p:column headerText="MONTO">
                                                    #{transaccion.monto}
                                                </p:column>
                                            </p:dataTable>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>


