<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer">
        <p:graphicImage name="images/logo-colored.png" library="omega-layout" width="32"/>
        <span class="footer-text">PrimeFaces Omega Theme </span>
    </div>
</ui:composition>