<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:event type="preRenderView" listener="#{verificarSessionBean.verificarSessionAdmin()}" />
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />    
            <link rel="icon" type="image/png" href="../resources/omega-layout/images/faviIcon.png" sizes="64x64"></link>
        </f:facet>
        <title>ADMIN</title>
        <h:outputScript name="js/nanoscroller.js" library="omega-layout" />
        <h:outputScript name="js/layout.js" library="omega-layout" />

        <ui:insert name="head"/>
    </h:head>
    <h:body styleClass="main-body #{guestPreferences.menuLayout}">

        <div class="wrapper">
            <ui:include src="topbar.xhtml" />

            <ui:include src="sidebaradmin.xhtml" />

            <div class="main">
                <ui:insert name="content"/>
            </div>

            <!--<ui:include src="footer.xhtml" />-->
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="omega-layout" style="width: 32px;"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/animate.css" library="omega-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="omega-layout" />
        <h:outputStylesheet name="css/layout.css" library="omega-layout" />
        
    </h:body>
</html>
