<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">
    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{managerAccountAdmin.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>

    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            ESTADO DE CRÉDITO
        </ui:define>

        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">

                            </div>


                            <h1>LISTADO DE CRÉDITOS</h1>
                            <p:dataTable class="table table-bordered table-hover" id="tableC" value="#{creditosBean.listadoCreditos}" var="credito" var="credito" filteredValue="#{creditosBean.busquedaCreditos}" emptyMessage="Sin concidentes">
                                <f:facet name="header">DETALLES</f:facet>
                                <p:column headerText="Credito">
                                    <f:facet name="header"># DE CRÉDITO</f:facet>
                                        #{credito.numeroCredito}
                                </p:column>

                                <p:column headerText="Tipo">
                                    <f:facet name="header">TIPO</f:facet>
                                        #{credito.tipoCredito}

                                </p:column>

                                <p:column headerText="Valor">
                                    <f:facet name="header">VALOR CRÉDITO</f:facet>
                                        #{credito.valorCredito}

                                </p:column>

                                <p:column headerText="Saldo1">
                                    <f:facet name="header">SALDO</f:facet>
                                    $ #{credito.saldoCredito}

                                </p:column>

                                <p:column headerText="FechaV">
                                    <f:facet name="header">FECHA VENCIMIENTO</f:facet>
                                        #{credito.fechaVencimiento}
                                </p:column>

                                <p:column headerText="numeroCuenta">
                                    <f:facet name="header">NÚMERO DE LA CUENTA</f:facet>
                                        #{credito.cuentaAhorro.numeroCuenta}
                                </p:column>
                                <p:column headerText="Estado1">
                                    <f:facet name="header">ESTADO</f:facet>
                                    <p:commandButton action="#{creditosBean.detallesCreditoAdmin(credito.numeroCredito)}" styleClass="green-button"  value="Detalles"/> 
                                </p:column> 

                            </p:dataTable>  
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>






