<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">


    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{managerAccountAdmin.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>


    <h:head>
        <title>Listado Usuarios</title>
    </h:head>
    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            LISTADO DE USUARIOS ADMINISTRATIVOS
        </ui:define>

        <ui:define name="rol">
            JEFE DE CREDITO
        </ui:define>


        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card">
                            <h1>Buscar
                             <p:inputText id="buscarEmpleado" style="width: 300px"/>
                            </h1>  
                            <p:dataTable id="tableEmployees" var="employe" value="#{empleadosBean.listadoEmpleados}"  filteredValue="#{empleadosBean.buscarEmpleados}" emptyMessage="Sin concidentes">
                                <f:facet name="header">USUARIOS</f:facet>
                                <p:column headerText="ID" style="width: 50px">
                                    #{empleadosBean.filas()}
                                </p:column>

                                <p:column headerText="CEDULA" filterBy="#{employe.cedula}" filterMatchMode="contains">
                                    #{employe.cedula}
                                </p:column>

                                <p:column headerText="NOMBRES">
                                    #{employe.nombre}
                                </p:column>

                                <p:column headerText="APELLIDOS">
                                    #{employe.apellido}
                                </p:column>

                                <p:column headerText="ROL">
                                    #{employe.rol}
                                </p:column>

                                <p:column headerText="ACCIONES">                                      
                                    <p:commandButton  action="#{empleadosBean.editar(employe.cedula)}" styleClass="navy-button" value="Editar"/> &nbsp;                                    
                                        
                                    <p:growl id="message" showDetail="true" />

                                    <p:commandButton action="#{empleadosBean.eliminar(employe.cedula)}"  value="Eliminar" update="tableEmployees message" styleClass="red-button" ajax="true">
                                        <p:confirm header="Confirmación" message="Esta seguro que desea eliminar el empleado ?" icon="ui-icon-alert" />
                                    </p:commandButton>

                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Si" styleClass="ui-confirmdialog-yes red-button" icon="ui-icon-check fa fa-check Fs14 White" />                                                                                  
                                        <p:commandButton value="No" styleClass="ui-confirmdialog-no navy-button" icon="ui-icon-close fa fa-close Fs14 White" />
                                    </p:confirmDialog>
                                    
                                </p:column>   
                            </p:dataTable>   
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>      
    </ui:composition>
</html>

