<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="indexcliente.xhtml">
        <ui:define name="title">
            PAGOS CUPS
        </ui:define>
        <ui:define name="usuario">
            #{managerAccount.cliente.nombre}  #{managerAccount.cliente.apellido}
        </ui:define>

        <ui:define name="content">
            <h:form id="formulario"> 

                <script type="text/javascript">
                    function limpiarForm()
                    {
                        document.getElementById("formulario").reset();
                    }
                </script> 
                <p:growl id="growl" showDetail="true" sticky="true" />
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">



                            <div class="card">
                                <h1>PAGO CUOTAS</h1>
                                <div class="ui-g ui-fluid dashboard">
                                    <div class="ui-g-12 ui-md-4">
                                        <p:panel header="$ CUOTA PENDIENTE" style="height:100%">
                                            <ul class="activity-list">    
                                                <li>
                                                    <div class="count" align="center"  style="background-color:#ef6262;width:200px">$#{pagosCreditoBean.amortizacionPago.cuotaFija}</div>
                                                    <div class="ui-g">
                                                        <div class="ui-g-6">FECHA DE COBRO:</div>
                                                        <div class="ui-g-6">#{pagosCreditoBean.amortizacionPago.fechaPago}</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </p:panel>
                                    </div>
                                </div>


                                <div class="card" >
                                    <p:outputLabel for="cantidad" value="INGRESE LA CANTIDAD "/>
                                    <p:inputText required="true"  a:placeholder="$" id="cantidad" style="background-color:#ef6262;color: #ffffff;font-size:35px;margin-bottom:15px;height:50px;width:300px"   value="#{pagosCreditoBean.cantDinero}" />
                                </div>

                                <p:panelGrid>
                                    <p:commandButton  oncomplete="limpiarForm()" update="growl" id="guardar" action="#{pagosCreditoBean.pagarCuota(pagosCreditoBean.cantDinero)}" value="PAGAR" styleClass="navy-button" style="font-size:15px;height:50px;width:100px">
                                        <p:confirm header="PAGOS CUOTAS" message="Desea confirmar su pago?" icon="pi pi-exclamation-triangle" />

                                    </p:commandButton>

                                    &nbsp;
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode" closable="false">
                                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes red-button" icon="pi pi-check">         
                                        </p:commandButton>                 


                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no navy-button" icon="pi pi-times" />
                                    </p:confirmDialog> 
                                </p:panelGrid>


                            </div> 




                        </div>


                    
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>






