<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">


    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{managerAccountAdmin.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>

    <h:head>
        <title>Listado Clientes Buenos</title>
    </h:head>
    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            LISTADO DE CLIENTES BUENOS
        </ui:define>
        <ui:define name="rol">
            JEFE DE CREDITO
        </ui:define>
        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card">
                            <h1>Buscar
                             <p:inputText id="buscarCliente" style="width: 300px"/>
                            </h1>  
                            <p:dataTable id="tableClients" var="client" value="#{analisisDatosBean.clientesBuenos}" >
                                <f:facet name="header">CLIENTES BUENOS PARA LA COOPERATIVA</f:facet>
                                <p:column headerText="CEDULA" style="width: 100px">
                                    #{client.cedula}
                                </p:column>

                                <p:column headerText="NOMBRE">
                                   	#{client.nombre}
                                </p:column>

                                <p:column headerText="APELLIDO">
                                    #{client.apellido}
                                </p:column>
                                
                                <p:column headerText="CORREO">
                                    #{client.correo}
                                </p:column>
                                
                            </p:dataTable>  
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>

    </ui:composition>
</html>
