<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/indexadmin.xhtml">

    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{managerAccountAdmin.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>

    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{clientesBean.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>


    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            REGISTRO DE CLIENTES
        </ui:define>
        <ui:define name="rol">
            JEFE DE CREDITO
        </ui:define>


        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">
                                <h1>DATOS PERSONALES</h1>
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cedula" value="Cedula"/>
                                    <p:inputText value="#{clientesBean.newCliente.cedula}" id="cedula" style="margin-bottom:15px;" />

                                    <p:outputLabel for="nombres" value="Nombres"/>
                                    <p:inputText value="#{clientesBean.newCliente.nombre}" id="nombres" style="margin-bottom:15px;">
                                        <f:ajax render="usuario" execute="auxField" listener="#{clientesBean.generarUsuario()}"/>
                                        <f:ajax render="contrasena" execute="auxField" listener="#{clientesBean.generarContrasena()}"/>
                                    </p:inputText>

                                    <p:outputLabel for="apellidos" value="Apellidos"/>
                                    <p:inputText value="#{clientesBean.newCliente.apellido}" id="apellidos" style="margin-bottom:15px;"/>

                                    <p:outputLabel for="fechanaci" value="Fecha de nacimiento"/>
                                    <p:calendar value="#{clientesBean.fechaNacimiento}" id="fechanaci" showOn="button" style="margin-bottom:15px;" pattern="dd/MM/yyyy"/>      
                                    
                                  

                                    <p:outputLabel for="direccion" value="Direccion"/>
                                    <p:inputText value="#{clientesBean.newCliente.direccion}" id="direccion" style="margin-bottom:15px;"/>

                                    <p:outputLabel for="telefono" value="Telefono"/>
                                    <p:inputText value="#{clientesBean.newCliente.telefono}" id="telefono" style="margin-bottom:15px;"/>

                                    <p:outputLabel for="operadora" value="Operadora"/>
                                    <p:selectOneMenu value = "#{clientesBean.newCliente.operadora}" id="operadora" style="margin-bottom:15px;"> 
                                        <f:selectItem itemValue = "N/A" itemLabel = "Seleccionar" /> 
                                        <f:selectItem itemValue = "MOVISTAR" itemLabel = "MOVISTAR" /> 
                                        <f:selectItem itemValue = "CLARO" itemLabel = "CLARO" /> 
                                        <f:selectItem itemValue = "CNT" itemLabel = "CNT" /> 
                                        <f:selectItem itemValue = "TUENTI" itemLabel = "TUENTI" /> 
                                    </p:selectOneMenu> 

                                    <p:outputLabel for="correo" value="Correo"/>
                                    <p:inputText value="#{clientesBean.newCliente.correo}" id="correo" style="margin-bottom:15px;"/>

                                    <p:outputLabel for="usuario" value="Usuario"/>
                                    <p:inputText value="#{clientesBean.usuario}" id="usuario" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="contrasena" value="Contraseña"/>
                                    <p:inputText value="#{clientesBean.contrasena}" id="contrasena" style="margin-bottom:15px;" readonly="true"/>





                                </p:panelGrid>

                            </div>
                            <div class="card">
                                <p:panelGrid>
                                     
                                    <p:commandButton action="#{clientesBean.guardarCliente()}" id="guardar" value="Guardar" styleClass="navy-button"  style="max-width:150px;"/>&nbsp;
                                    <p:commandButton action="listadoClientes" id="cancelar" value="Cancelar" styleClass="navy-button"  style="max-width:150px;"/>                                                                  
                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

        </ui:define>

    </ui:composition>
</html>

