<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:metadata>
            <f:viewParam name="cedula" value="#{managerAccountAdmin.cedula}"></f:viewParam>
        </f:metadata>
    </h:head>


    <h:head>
        <title>Registro Cuentas de Ahorro</title>
    </h:head>
    <ui:composition template="indexadmin.xhtml">
        <ui:define name="title">
            REGISTRO DE CUENTAS DE AHORRO
        </ui:define>
        <ui:define name="rol">
            JEFE DE CREDITO
        </ui:define>


        <ui:define name="usuario">
            #{managerAccountAdmin.empleado.nombre}  #{managerAccountAdmin.empleado.apellido} 
        </ui:define>

        <ui:define name="content">
            <h:form>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <div class="card">
                                <h1>DATOS DE LA CUENTA</h1>
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                                    <p:outputLabel for="cedulabuscar" value="Ingrese la cedula a buscar:"/>
                                    <p:inputText value="#{cuentaAhorroBean.cedulaIngresada}" id="cedulabuscar" style="margin-bottom:15px;">
                                        <f:ajax render="cedula" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/> 
                                        <f:ajax render="nombres" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>    
                                        <f:ajax render="apellidos" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>                                         
                                        <f:ajax render="direccion" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="telefono" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="operadora" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="correo" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="usuario" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="contrasena" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                        <f:ajax render="numerocuenta" execute="auxField" listener="#{cuentaAhorroBean.buscarCliente()}"/>  
                                    </p:inputText>

                                    <p:outputLabel for="cedula" value="Cedula"/>
                                    <p:inputText value="#{cuentaAhorroBean.cedulaEncontrada}" id="cedula" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="nombres" value="Nombres"/>
                                    <p:inputText value="#{cuentaAhorroBean.nombre}" id="nombres" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="apellidos" value="Apellidos"/>
                                    <p:inputText value="#{cuentaAhorroBean.apellido}" id="apellidos" style="margin-bottom:15px;" readonly="true"/>                                 

                                    <p:outputLabel for="direccion" value="Direccion"/>
                                    <p:inputText value="#{cuentaAhorroBean.direccion}" id="direccion" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="telefono" value="Telefono"/>
                                    <p:inputText value="#{cuentaAhorroBean.telefono}" id="telefono" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="operadora" value="Operadora"/>
                                    <p:inputText value="#{cuentaAhorroBean.operadora}" id="operadora" style="margin-bottom:15px;" readonly="true"/>                                   

                                    <p:outputLabel for="correo" value="Correo"/>
                                    <p:inputText value="#{cuentaAhorroBean.correo}" id="correo" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="usuario" value="Usuario"/>
                                    <p:inputText value="#{cuentaAhorroBean.usuario}" id="usuario" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="contrasena" value="Contraseña"/>
                                    <p:inputText value="#{cuentaAhorroBean.contrasena}" id="contrasena" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="numerocuenta" value="Numero de cuenta"/>
                                    <p:inputText value="#{cuentaAhorroBean.numeroCuenta}" id="numerocuenta" style="margin-bottom:15px;" readonly="true"/>

                                    <p:outputLabel for="saldo" value="Saldo"/>
                                    <p:inputText value="#{0.0}" id="saldo" style="margin-bottom:15px;" readonly="true"/>

                                </p:panelGrid>

                            </div>
                            <div class="card">
                                <p:panelGrid>
                                    <p:commandButton action="#{cuentaAhorroBean.guardarCuentaAhorro()}" id="guardar" value="Guardar" styleClass="navy-button"  style="max-width:150px;"/>&nbsp;
                                    <p:commandButton id="cancelar" value="Cancelar" styleClass="navy-button" type="button"  style="max-width:150px;"/>
                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

        </ui:define>

    </ui:composition>
</html>

