<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/omega">
    <h:form id="menuform">
        <div class="sidebar">
            <div class="nano">
                <div class="nano-content sidebar-scroll-content">
                    <div class="logo">
                        <p:graphicImage name="images/logocups2.png" library="omega-layout" width="113"/>
                    </div>

                    <!--
                    <div class="profile">
                        <p:clock />
                    </div>
                    -->
                    <div class="logo">
                        <span class="username" style="color: #FFFFFF" >BIENVENIDO (A)</span>
                        <br/>
                        <br/>
                        <span class="username" style="color: #FFFFFF" >SOCIO (A)</span>
                        <br/>
                        <br/>
                        <span class="username"  style="color: #FFFFFF"  ><ui:insert name="usuario" /></span>

                    </div>

                    <br/>
                    <br/>

                    <div class="profile">
                        <p:graphicImage name="images/avatar_2.png" library="omega-layout" />
                        <a id="profile-button" href="#">
                            <span class="username">Mi Cuenta</span>
                            <i class="fa fa-fw fa-cog"></i>
                        </a>
                        <ul>
                            <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notifications</span><span class="menu-badge">2</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                        </ul>
                    </div>

                    <div class="menu">
                        <po:menu>
                            <p:menuitem id="om_dashboard1" value="Inicio" icon="fa fa-home" outcome="resumen_cliente"/>
                            <p:menuitem id="om_dashboard2" value="Estado de cuenta" icon="fa fa-user-circle" outcome="estado_cuenta"/>                      
                            <p:submenu id="om_components" label="Solicitudes Créditos" icon="fa fa-paste">
                                <p:menuitem id="om_sample" value="Solicitar" icon="fa fa-plus-circle"  outcome="solicitar_credito" />
                                <p:menuitem id="om_sample1" value="Mis Solicitudes" icon="fa fa-list-ol"  outcome="solicitudes_credito_cliente" />

                            </p:submenu>
                            <p:submenu id="om_components1" label="Créditos" icon="fa fa-credit-card-alt">

                                <p:submenu id="c3" label="Mi Crédito" icon="fa fa-address-card">        
                                    <p:menuitem id="c41" value="Estado Crédito" icon="fa fa-hourglass-start" outcome="estado_credito"/>   
                                </p:submenu>

                                <p:submenu id="pagos" label="Pagos" icon="fa fa-handshake-o">
                                    <p:menuitem id="c21" value="Pago Cuotas" icon="fa fa-money" outcome="pago_cuota"/>  
                                    <p:menuitem id="c22" value="Abono Cuotas" icon="fa fa-plus" outcome="abono_cuota"/>  
                                </p:submenu>
                            </p:submenu>

                            <p:submenu id="om_cuentas" label="Accesos" icon="fa fa-question-circle">
                                <p:menuitem id="om_regcuenta1" value="Correctos" icon="fa fa-check-circle" outcome="accesos_cliente_correcto" />
                                <p:menuitem id="om_liscuenta2" value="Incorrectos" icon="fa fa-times-circle" outcome="accesos_cliente_incorrecto" />                            
                            </p:submenu>                                                                                    
                        </po:menu>
                    </div>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>