<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/omega">
    <h:form id="menuform">
        <div class="sidebar">
            <div class="nano">
                <div class="nano-content sidebar-scroll-content">
                    <div class="logo">
                        <p:graphicImage name="images/logocups2.png" library="omega-layout" width="113"/>
                    </div>
                    <div class="logo">
                        <span class="username" style="color: #FFFFFF" >BIENVENIDO (A)</span>
                        <br/>
                        <br/>
                        <span class="username" style="color: #FFFFFF" >ADMINISTRADOR (A)</span>
                        <br/>
                        <br/>
                        <span class="username"  style="color: #FFFFFF"  ><ui:insert name="usuario" /></span>

                    </div>

                    <br/>
                    <br/>

                    <div class="profile">
                        <p:graphicImage name="images/avatar_2.png" library="omega-layout"/>
                        <a id="profile-button" href="#">
                            <span class="username">Mi Cuenta</span>
                            <i class="fa fa-fw fa-cog"></i>
                        </a>
                        <ul>
                            <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notifications</span><span class="menu-badge">2</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                        </ul>
                    </div>

                    <div class="menu">
                        <po:menu>
                            <p:menuitem id="om_dashboard" value="Inicio" icon="fa fa-home"  outcome="jefe_inicio"/>
                            <p:submenu id="am_customization" label="Usuarios" icon="fa fa-users" >
                                <p:menuitem id="custom1" value="Registro Usuario" icon="fa fa-user" outcome="registroUsuario"/>
                                <p:menuitem id="custom2" value="Usuarios" icon="fa fa-users" outcome="listadoUsuarios"/>
                            </p:submenu>
                            <p:submenu id="om_components" label="Clientes" icon="fa fa-user">
                                <p:menuitem id="om_sample" value="Registro Cliente" icon="fa fa-user" outcome="registroCliente" />
                                <p:menuitem id="om_forms" value="Clientes" icon="fa fa-users" outcome="listadoClientes" />                            
                            </p:submenu>
                            <p:submenu id="om_cuentas" label="Cuentas" icon="fa fa-user-circle">
                                <p:menuitem id="om_regcuenta" value="Registro Cuenta" icon="fa fa-sign-in" outcome="registroCuenta" />
                                <p:menuitem id="om_liscuenta" value="Cuentas" icon="fa fa-sign-in" outcome="listadoCuentas" />                            
                            </p:submenu>                    
                            <p:submenu id="om_default" label="Solicitudes de Créditos" icon="fa fa-paste">
                                <p:menuitem id="om_solicitudes" value="Aprobar" icon="fa fa-copy"  outcome="listadoSolicitudesAdmin"/> 
                            </p:submenu> 
                            <p:submenu id="c1" label="Créditos" icon="fa fa-paste">
                                <p:menuitem id="c11" value="Listado de Créditos" icon="fa fa-copy" /> 
                            </p:submenu> 
                            
                        </po:menu>
                    </div>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>